@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 1em;
  width: 80%;
  border: 2px solid pink;
  height: 80vh;
}

#add-todo {
  padding: 0.5em 1.5em;
  background: greenyellow;
  border: none;
  margin: 1em;
}

/* .done-todo {
  @keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  font-size: 24px;
  text-decoration: line-through;
  animation-name: appear;
  animation-duration: 2s;

}

.active-todo {
  @keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  font-size: 24px;
  text-decoration: underline;
  animation-name: appear;
  animation-duration: 2s;
} */
